* {
  box-sizing: border-box;
  font-family: tahoma;
}
body {
  margin: 0;
  padding: 1rem;
  background: linear-gradient(rgb(40, 40, 50), rgba(108, 108, 108, 0.405));
  background-color: rgb(40, 40, 50);
  position: relative;
  height: 100vh;
}
#story-bar-container {
  display: flex;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  /* background-color: rgba(128, 128, 128, 0.405); */
  background: linear-gradient(
    rgba(128, 128, 128, 0.405) 60%,
    rgba(158, 158, 158, 0.405)
  );
  border-radius: 15px;
  padding: 0.75rem 1rem;
  /*scrolling feature */
  overflow-x: auto;
  scroll-behavior: smooth;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  &::-webkit-scrollbar {
    display: none;
  }
}
.add-story-container,
.story-container {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  flex-direction: column;
}
.add-story-btn {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.1s linear;
  &:hover {
    background-color: rgb(185, 185, 185);
  }
}
.story {
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: scale(1.1);
  }
}
.story-viewer-background {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  inset: 0;
}
.close-viewer-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 1.75em;
  color: grey;
  transition: color 0.3s;
  &:hover {
    color: white;
  }
}
.story-viewer-container {
  position: relative;
  height: 100%;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.story-viewer {
  /* border:1px solid red; */
  height: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;  
}
.progress-bar-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 0.3rem;
  padding: 0.5rem;
}
.progress-bar {
  appearance: none;
  width: 100%;
  height: 0.2rem;

  &::-webkit-progress-bar {
    border-radius: 45px;
    background-color: rgba(150, 150, 150);
  }
  &::-webkit-progress-value {
    border-radius: 25px;
    background-color: rgba(255, 255, 255);
  }
}
@media (max-width:720px) {
  .close-viewer-btn {
    display: none;
}
}